.bi-calendar3-week{
  margin-left: 20px;
}

#warning, #succes, #warning2{
  max-width: 350px;
  margin: 0 auto;
  margin-top: 15px;
}
#hr{
  max-width: 350px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
}
